@font-face {
    font-family: 'Helvetica-Neue';
    src: url('./assets/font/HelveticaNeueLTPro-Md.ttf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }



:root {
    --bg: #fff; 
    --text:  #000;
    --gutter-width: 2vw;
    --column: 16;
    --animation-primary: 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 15px;
  font-family: 'Helvetica-Neue';
}



body {
  font-weight: 200;
  font-size: medium;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  width: 100vw;
  height: 100vh; 
  overscroll-behavior: contain;  
}

#ios-scrolling {
  -webkit-scroll-behavior: smooth;
  overflow-scrolling: touch;
  scroll-behavior: smooth;
  behavior: smooth;
  overflow-y: auto;
}


::-webkit-scrollbar{
    width: 0;
  }
  
  
  ::selection{
    background-color: #d8cabd;
    color: #111;
  }
  

  .navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--gutter-width) var(--gutter-width);
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: var(--gutter-width);
    opacity: 0;
    animation: fadein 1s ease forwards;
    z-index: 9999999999;
  }

  @keyframes fadein {

    from{
        opacity: 0;
        filter: blur(5px);
        transform: translateY(10px);
    }
    to{
        opacity: 0.8;
        filter: blur(0px);
    }
    
  }
  
  .navigation__logo {
    grid-column-start: 9;
  }
  
  .navigation__logo--link {
    font-style: italic;
    font-size: 1.2rem;
    text-transform: capitalize;
    line-height: 0.9;
    font-family: "Libre Caslon Text", serif;
    
  }

  .right{
    position: absolute;
    right:2vw ;
    top: 2vw;
    display: flex;
    gap: 7px;

  }


  .left{
    position: absolute;
    left:2vw ;
    top: 2vw;
    width: 175px;
    display: flex;
    gap: 7px;
  }
  

  .navigation p {
    grid-column-start: 16;


    font-size: 1.1rem;
    font-weight: 500;
    line-height: 0.9;
    opacity: 1;

  }

  .menu{
    cursor: pointer;
  }

  .menu::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.5px;
    bottom: -40%;
    left: 0;
    background-color:#444;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out;
    transform-origin: right;
  }


  .intro{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
  }


  .menu:hover::after {
    visibility: visible;
    transform: scaleX(0);
  }

  a {
    text-decoration: none;
    color: var(--text);
  }

  .title{
    position: absolute;
    top: 0;
     height: 50vh;
     width: fit-content;
     display: flex;
     align-items: center;
     margin-left: 2vw;
     opacity: 0.3;
  }

  .title p{
    font-size: 130px;
    filter: blur(5px);
    transform: translateY(20px);
    opacity: 0;
    animation: blurfadeup 1s 0.3s ease forwards
  }


  .title span{
    font-family: "Libre Caslon Text", serif;
    font-size: 130px;
    font-style: italic;
  }

  .img{
    height: 320px;
    width: 300px;
    overflow: hidden;
    position: absolute;
    right: 2vw;
  }

  .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }



  .bottomtext{
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
    position: absolute;
    bottom: 2vw;
    left: 2vw;

  }

  .othertext{

    width: 370px;
    filter: blur(5px);
    transform: translateY(20px);
    opacity: 0;
    animation: blurfadeups 1s 0.7s ease forwards
  }


  .titletxt{
    filter: blur(5px);
    transform: translateY(20px);
    opacity: 0;
    animation: blurfadeup 1s 0.6s ease forwards
  }

  @keyframes blurfadeup {
    from{
        filter: blur(5px);
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        filter: blur(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes blurfadeups {
    from{
        filter: blur(5px);
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        filter: blur(0px);
        transform: translateY(0px);
        opacity: 0.3;
  
    }
}

.spacest{
  height: 20vh;
}

.nextmini{
  overflow: hidden;
  height: 80vh;
  width: calc(100vw - 2vw);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftside{
  width: 40vw;
  margin-left: 2vw;
  opacity: 0.8;
}

.rightside{
  width: 60vw;
}

.left__container .container__heading .heading__line span {
  font-size: 55px;
  display: inline-block;
  transform: translateY(100%);
  will-change: transform;
  opacity: 0.9;
  filter: blur(5px);
}

.left__container .container__heading .heading__line {
  display: block;
  margin-bottom: .5rem;
  overflow: hidden;
}


.next{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.nextinner{
  height: calc(100vh - 2vw);
  width: calc(100vw - 31.7vw);
  position: relative;
  overflow: hidden;
  background: #b3b3b3;
}

.nextinner img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.next2{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.biginner{
  height: calc(100vh - 11.7vh);
  width: calc(100vw - 4vw);
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: space-between
}

.inner1{
  width: 40vw;
  height: 100%;

  position: relative;
  display: flex;
  justify-content: center;
}


.inner2{
  width: 47vw;
  height: 100%;

  position: relative;
  display: flex;
  justify-content: center;
}

.image3{
  height: 55vh;
  width: 100%;
  background: #000;
}


.image4{
  position: absolute;
  height: 90px;
  width: 135px;
  background: #000;
  bottom: 10px;
}

.image1{
  position: absolute;
  right: 20px;
  top: 30px;
  height: 40vh;
  width: 30vh;
  background: #000;
}

.image2{
  position: absolute;
  right: 20px;
  bottom: 40px;
  height: 30vh;
  width: 90%;
  background: #000;
}

.image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.nono{
  height: 80vh;
}

.ima img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.grandmaster{
  height: 500px;
  width: 700px;

  position: relative;
  display: flex;
  align-items: center;
}


.oddblock2{
  position: absolute;
  right: 0;
  height: 100%;
  width: 300px;
  background: #000;

}


.oddblock1{
  position: absolute;
  left: 0;
  height: 300px;
  width: 80%;
  background: #000;
  z-index: 999999;
}

.large{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blockbaby1{
  height: 100%;
  width: 69%;
  background: #000;
}

.blockbaby2{
  height: 380px;
  width: 330px;
  background: #000;
}

.jana img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}

@media (max-width:500px) {
  .left__container .container__heading .heading__line span {
    font-size: 20px;
  }

  .right{
    right:3vh;
    top: 30px;
  }
  
  
  .left{
    left:3vh ;
    top: 30px;
  }
  

  .leftside{
    width: 30vw;
  }
  
  .rightside{
    width: 70vw;
  }
  
  .navigation__logo {
     position: absolute;
     top:30px;
  }

  .nextmini{
    overflow: hidden;
    height: 50vh;
  }

  .title p{
    font-size: 60px;
  }


  .title span{
    font-size: 60px;
  }

  .img{
    height: 220px;
    width: 200px;
    margin-top: 10%;
  }


  .grandmaster{
    height: 400px;
    width: 400px;
  }

  .oddblock2{
    position: absolute;
    right: 0;
    height: 75%;
    width: 180px;
    background: #000;
    margin-right: 20px;
  }
  
  
  .oddblock1{
    position: absolute;
    left: 0;
    height: 180px;
    width: 72%;
    margin-left: 20px;
    background: #000;
    z-index: 999999;
  }
  

  .nuxt{
    height: 50vh;
  }

  .nextinner{
    height: calc(100% - 2vw);
    width: calc(100vw - 31.7vw);
    position: relative;
    overflow: hidden;
    background: #b3b3b3;
  }

  .rien{
    height: 70vh;
  }

  .image3{
    height: 55vw;
    width: 100%;
    background: #000;
  }
  
  
  .image4{
    position: absolute;
    height: 90px;
    width: 135px;
    background: #000;
    bottom: 10px;
  }
  
  .image1{
    position: absolute;
    right: 20px;
    top: 30px;
    height: 40vw;
    width: 30vw;
    background: #000;
  }
  
  .image2{
    position: absolute;
    right: 20px;
    bottom: 40px;
    height: 30vw;
    width: 90%;
    background: #000;
  }

  .biginner{
    height: calc(80vh - 11.7vh);
    width: calc(100vw - 4vw);
    position: relative;
    overflow: hidden;
  
    display: flex;
    justify-content: space-between
  }
  
  


}